.card {
    width: 80vw;
    max-width: 80%;
    height: 160px;
    background: #8cc5d4;

    color: #fff;

    border-radius: 10px;
    margin: 10px auto;

    display: flex;
    flex-direction: column;

    position: relative;
    box-shadow: 1px 1px 4px #212348;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6px 16px;
    border-bottom: 1px solid #e2e2e4;
}

.header button {
    padding: 2.5px;
    border: 1px solid #e2e2e4;
    border-radius: 6px;

    cursor: pointer;
    background: #727280;
    color: #fff;
}

.main {
    width: 96%;
    flex: 1;

    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    gap: 4px;

    padding: 2px;
}

.mainConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;

    flex: 1, 1, 300px;

    position: relative;
}

.mainConteiner button {
    margin-top: 8px;
    font-size: 10px;
    font-weight: 600;


    border-radius: 10px;
    border: none;

    padding: 2px 4px;

    cursor: pointer;
    background: #ebedef;
}

.mainConteiner button:hover {
    transform: scale(1.1);
}

.main img {
    height: 70px;
    margin: 4px auto;
    object-fit: contain;


    border-radius: 8px;
    border: none;
}

.main img:hover{
    cursor: default;
    transform: scale(1.1);
}

.delete {
    border-radius: 10px;
    padding: 2px;
    border: none;
    position: absolute;
    right: 0;
    bottom: 1px;
    font-weight: bold;

    background: #ebedef;


}

.delete:hover {
    transform: scale(1.1);
}